
input{
    background: url('../iconos/search.svg');
    background-position: left 8px;
    background-position-x: 4px;
    background-repeat: no-repeat;
    background-color:white ;
    border-radius: 2px;
    margin: 0 24px;
    height: 40px;
    
    padding: 0 30px;
    font-size: 20px;
    box-shadow: none;
	border: none;
}

input:hover,input:active,input:focus{
    border-color: rgb(8, 8, 8);
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222; 
    outline: none;
}